*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:white;
}

header{
    background:black;
    padding:20px 60px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:#ff0000;
}

/* HERO */

.hero{
    height:90vh;
    background-image:url("background.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
}

.overlay{
    background:rgba(0,0,0,0.55);
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.overlay h1{
    font-size:60px;
    margin-bottom:20px;
}

.overlay p{
    font-size:22px;
}

/* EXPERIENCE SECTION */

.experience{
    margin-top:-70px;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.card{
    width:300px;
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.card h3{
    color:#0047AB;
    font-size:40px;
    margin-bottom:15px;
}

.card img{
    width:100%;
    border-radius:10px;
}